<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My Podcast</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="My Podcast template project">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="styles/bootstrap-4.1.2/bootstrap.min.css">
        <link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">
        <link href="stylesheets/login.css" rel="stylesheet" type="text/css">

    </head>
    <body>
        <div class="super_container">
            <!-- Header -->

            <header class="header trans_400">

                <!-- Logo -->
                <div class="logo">
                    <a href="/"><span>my</span>podcast<img src="images/play.png" alt=""></a>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div
                                class="header_content d-flex flex-row align-items-center justify-content-start trans_400">
                                <nav class="main_nav">
                                    <ul class="d-flex flex-row align-items-start justify-content-start">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/about">About</a></li>
                                        <li><a href="/episode/episodes">Episodes</a></li>
                                        <li><a href="/blog">Blog</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Submit & Social -->
                <div class="header_right d-flex flex-row align-items-start justify-content-start">


                    {{# if loggedIn}}
                        <div class="submit"><a href="#">{{username}}</a></div>
                    {{ else }}
                        <div class="submit"><a onclick="document.getElementById('id01').style.display='block'">login</a></div>
                        <div class="submit"><a onclick="document.getElementById('id02').style.display='block'">Signup</a></div>
                    {{/ if}}
                        
                        <!-- Social -->
                        <div class="social">
                            <ul class="d-flex flex-row align-items-start justify-content-start">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-soundcloud" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>

                        <!-- Hamburger -->
                        <div class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></div>

                </div>
            </header>

            <!-- Menu -->

            <div class="menu">
                <div class="menu_content d-flex flex-column align-items-end justify-content-start">
                    <ul class="menu_nav_list text-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/episode/episodes">Episodes</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                    <div class="menu_extra d-flex flex-column align-items-end justify-content-start">
                        <div class="menu_submit"><a href="#">Submit your podcast</a></div>
                        <div class="social">
                            <ul class="d-flex flex-row align-items-start justify-content-start">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-soundcloud" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {{{body}}}
            <!-- Footer -->

            <footer class="footer">
                <div class="container">
                    <div class="row footer_logo_row">
                        <div class="col d-flex flex-row align-items-center justify-content-center">
                            <div class="logo">
                                <a href="#"><span>my</span>podcast<img src="images/play.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="row footer_content_row">

                        <!-- Tags -->
                        <div class="col-lg-4">
                            <div class="footer_title">Tags</div>
                            <div class="footer_list">
                                {{# each Programs}}
                                    <div>
                                        <div><a href="/user/profile/{{this.user_id}}">{{this.user_name}}</a></div>
                                    </div>
                                {{/ each}}
                                
                            </div>
                        </div>

                        <!-- Latest Episodes -->
                        <div class="col-lg-4">
                            <div class="footer_title">Latest Episodes</div>
                            <div class="latest_container">

                                <!-- Latest -->
                                <div class="latest">
                                    <div
                                        class="latest_title_container d-flex flex-row align-items-start justify-content-start">
                                        <a href="episode.html">
                                            <div class="d-flex flex-row align-items-start justify-content-start">
                                                <div class="latest_play">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                                        id="Capa_1" x="0px" y="0px" width="512px" height="512px"
                                                        viewBox="0 0 714 714" style="enable-background:new 0 0 714 714;"
                                                        xml:space="preserve">
                                                        <g id="Play">
                                                            <path
                                                                d="M641.045,318.521L102,0C73.822,0,51,22.822,51,51v612c0,28.178,22.822,51,51,51l539.045-318.521      C654.661,387.422,663,372.81,663,357C663,341.19,654.661,326.579,641.045,318.521z M153,565.386V148.614L505.665,357      L153,565.386z"
                                                                fill="#FFFFFF" />
                                                        </g>
                                                    </svg>
                                                </div>
                                                <div class="latest_title_content">
                                                    <div class="latest_title">Season 4 Episode 48 - A Step Further</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="latest_episode_info">
                                        <ul class="d-flex flex-row align-items-start justify-content-start">
                                            <li><a href="#">September 24, 2018</a></li>
                                            <li><a href="#">Music</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- Latest -->
                                <div class="latest">
                                    <div
                                        class="latest_title_container d-flex flex-row align-items-start justify-content-start">
                                        <a href="episode.html">
                                            <div class="d-flex flex-row align-items-start justify-content-start">
                                                <div class="latest_play">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                                        id="Capa_1" x="0px" y="0px" width="512px" height="512px"
                                                        viewBox="0 0 714 714" style="enable-background:new 0 0 714 714;"
                                                        xml:space="preserve">
                                                        <g id="Play">
                                                            <path
                                                                d="M641.045,318.521L102,0C73.822,0,51,22.822,51,51v612c0,28.178,22.822,51,51,51l539.045-318.521      C654.661,387.422,663,372.81,663,357C663,341.19,654.661,326.579,641.045,318.521z M153,565.386V148.614L505.665,357      L153,565.386z"
                                                                fill="#FFFFFF" />
                                                        </g>
                                                    </svg>
                                                </div>
                                                <div class="latest_title_content">
                                                    <div class="latest_title">Season 4 Episode 47 - Deep in Crypto</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="latest_episode_info">
                                        <ul class="d-flex flex-row align-items-start justify-content-start">
                                            <li><a href="#">September 24, 2018</a></li>
                                            <li><a href="#">Music</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- Latest -->
                                <div class="latest">
                                    <div
                                        class="latest_title_container d-flex flex-row align-items-start justify-content-start">
                                        <a href="episode.html">
                                            <div class="d-flex flex-row align-items-start justify-content-start">
                                                <div class="latest_play">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                                                        id="Capa_1" x="0px" y="0px" width="512px" height="512px"
                                                        viewBox="0 0 714 714" style="enable-background:new 0 0 714 714;"
                                                        xml:space="preserve">
                                                        <g id="Play">
                                                            <path
                                                                d="M641.045,318.521L102,0C73.822,0,51,22.822,51,51v612c0,28.178,22.822,51,51,51l539.045-318.521      C654.661,387.422,663,372.81,663,357C663,341.19,654.661,326.579,641.045,318.521z M153,565.386V148.614L505.665,357      L153,565.386z"
                                                                fill="#FFFFFF" />
                                                        </g>
                                                    </svg>
                                                </div>
                                                <div class="latest_title_content">
                                                    <div class="latest_title">Season 4 Episode 46 - Nothing is real
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="latest_episode_info">
                                        <ul class="d-flex flex-row align-items-start justify-content-start">
                                            <li><a href="#">September 24, 2018</a></li>
                                            <li><a href="#">Music</a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Gallery -->
                        <div class="col-lg-4">
                            <div class="footer_title">Instagram</div>
                            <div class="gallery d-flex flex-row align-items-start justify-content-start flex-wrap">

                                <!-- Gallery Item -->
                                <div class="gallery_item">
                                    <a class="colorbox" href="images/gallery_1_large.jpg"><img
                                            src="images/gallery_1.jpg" alt=""></a>
                                </div>

                                <!-- Gallery Item -->
                                <div class="gallery_item">
                                    <a class="colorbox" href="images/gallery_2_large.jpg"><img
                                            src="images/gallery_2.jpg" alt=""></a>
                                </div>

                                <!-- Gallery Item -->
                                <div class="gallery_item">
                                    <a class="colorbox" href="images/gallery_3_large.jpg"><img
                                            src="images/gallery_3.jpg" alt=""></a>
                                </div>

                                <!-- Gallery Item -->
                                <div class="gallery_item">
                                    <a class="colorbox" href="images/gallery_4_large.jpg"><img
                                            src="images/gallery_4.jpg" alt=""></a>
                                </div>

                                <!-- Gallery Item -->
                                <div class="gallery_item">
                                    <a class="colorbox" href="images/gallery_5_large.jpg"><img
                                            src="images/gallery_5.jpg" alt=""></a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row footer_social_row">
                        <div class="col">
                            <div class="footer_social">
                                <ul class="d-flex flex-row align-items-center justify-content-center">
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-soundcloud" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    </br></br><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is
                    made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                        target="_blank">Gom3a Abied</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

                </div>
            </footer>
        </div>


        </div>
        {{!-- --------------------Login ----------------- --}}
        <div id="id01" class="modal">
            <form class="modal-content animate" action="/user/login" method="post">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('id01').style.display='none'" class="close"
                        title="Close Modal">&times;</span>
                    <img src="images/img_avatar2.png" alt="Avatar" class="avatar">
                </div>

                <div class="container">
                    <label for="id"><b>User Name</b></label>
                    <input type="text" placeholder="Enter User Name" name="id" required>

                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>

                    <button class = "sbmtbtn" type="submit">Login</button>
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                </div>

                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" onclick="document.getElementById('id01').style.display='none'"
                        class="sbmtbtn cancelbtn">Cancel</button>
                    <span class="psw">Forgot <a href="#">password?</a></span>
                </div>
            </form>
        </div>
{{!-- -------------------Sign up------------------------ --}}
<div id="id02" class="modal">
            <form class="modal-content animate" action="/user/login" method="post">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('id02').style.display='none'" class="close"
                        title="Close Modal">&times;</span>
                    <img src="images/img_avatar2.png" alt="Avatar" class="avatar">
                    <hr>
                    <label for="img">upload personal image</label>
                    <input type="file" name="img" id="img" class="avatar ml-5"> 
                </div>
              
                <div class="container">
                    <label for="username"><b>User Name</b></label>
                    <input type="text" id= "username" placeholder="Enter User Name" name="username" required>

                    <label for="email"><b>E-Mail</b></label>
                    <input type="email" id = "email" placeholder="Enter E-Mail" name="emial" required>

                    <label for="age"><b>age</b></label>
                    <input type="number" id="age" placeholder="Enter age" name="age" required>

                    <label for="password"><b>Password</b></label>
                    <input type="password" id="password" placeholder="Enter Password" name="passwrod" required>

                    <button class = "sbmtbtn" type="submit">Signup</button>
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                </div>

                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" onclick="document.getElementById('id02').style.display='none'"
                        class="sbmtbtn cancelbtn">Cancel</button>
                    <span class="psw">Forgot <a href="#">password?</a></span>
                </div>
            </form>
        </div>

        <script>
            // Get the modal
            var modal = document.getElementById('id01');
            var modal2 = document.getElementById('id02');
        
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal || event.target == modal2  ) {
                    modal.style.display = "none";
                    modal2.style.display = "none";
                }
            }
        </script>

    </body>
</html>