<!-- Home -->
        <link rel="stylesheet" type="text/css" href="styles/main_styles.css">
        <link rel="stylesheet" type="text/css" href="styles/responsive.css">
<div class="home">
	<div class="background_image" style="background-image:url(images/index.jpg)"></div>
	<div class="home_container">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="home_content">
						<div class="tags">
							<ul class="d-flex flex-row align-items-start justify-content-start">
								<li><a href="#">lifestyle</a></li>
								<li><a href="#">interview</a></li>
								<li><a href="#">last episode</a></li>
							</ul>
						</div>
						<div class="home_title">
							<h1>INTRO TO PODCAST</h1>
						</div>
						<div class="home_subtitle">Don't change our station to change your mind</div>
						<div class="track_info">
							<ul class="d-flex flex-row align-items-start justify-content-start">
								<li><a href="#">September 24, 2020</a></li>
								<li><a href="#">intro</a></li>
								<li>1:40</li>
								<li><a href="#">200k Likes</a></li>
							</ul>
						</div>
						<div class="track track_home">
							<iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay"
								src="Audio/intro.mp3"></iframe>
						</div>
						<div class="button_border home_button trans_200"><a href="/about">More Info</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Shows -->

<div class="shows">
	<div class="container">
		<div class="row shows_row">

			<!-- Show -->
			{{# each Programs}}
				<div class="col-lg-4">
					<div class="show">
						<div class="show_image">
							<a href="/program?program_id={{this.program_id}}">
								<img src="{{this.cover}}" alt="https://unsplash.com/@icons8">
							</a>
							<div class="show_tags">
								<div class="tags">
									<ul class="d-flex flex-row align-items-start justify-content-start">
										<li><a href="/episode/profile/{{this.user_id}}">{{this.user_name}}</a></li>
									</ul>
								</div>
							</div>
							<div class="show_play_icon"><img src="images/play.svg"
									alt="https://www.flaticon.com/authors/cole-bemis"></div>
						</div>
						<div class="show_content">
							<div class="show_date"><a href="/program?program_id={{this.program_id}}">{{this.show_date}}</a></div>
							<div class="show_title"><a href="/program?program_id={{this.program_id}}">{{this.title}}</a></div>
							<div class="show_info d-flex flex-row align-items-start justify-content-start">
								<div class="show_fav d-flex flex-row align-items-center justify-content-start">
									<div class="show_fav_icon show_info_icon"><img class="svg" src="images/heart.svg"
											alt=""></div>
									<div class="show_fav_count">2371</div>
								</div>
								<div class="show_comments">
										<div class="d-flex flex-row align-items-center justify-content-start">
											<div class="show_comments_icon show_info_icon"><img class="svg"
													src="images/speech-bubble.svg" alt=""></div>
											<div class="show_comments_count">88 Comments</div>
										</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			{{/ each}}

		</div>
	</div>
</div>

<!-- Bi Weekly -->

<div class="weekly">
	<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/weekly.jpg"
		data-speed="0.8"></div>
	<div class="container">
		<div class="row row-eq-height">

			<!-- Weekly Content -->
			<div class="col-lg-6">
				<div
					class="weekly_content d-flex flex-column align-items-start justify-content-lg-center justify-content-start">
					<div>
						<div class="weekly_title">
							<h1>Weekly episodes</h1>
						</div>
						<div class="weekly_text">
							<p>Cras congue et risus eget congue. Integer id justo non orci suscipit cursus a scelerisque
								libero. Fusce in tortor mauris. Orci varius natoque penatibus et magnis dis parturient
								montes, nascetur ridiculus mus. Maecenas euismod sed magna.</p>
						</div>
						<div class="shops d-flex flex-row align-items-start justify-content-start flex-wrap">
							<div class="button_border"><a href="#">Amazon</a></div>
							<div class="button_border"><a href="#">Itunes</a></div>
							<div class="button_border"><a href="#">Spotify</a></div>
						</div>
					</div>
				</div>
			</div>

			<!-- Weekly Image -->
			<div class="col-lg-6">
				<div class="weekly_image">
					<img src="images/show_3.jpg" alt="">
					<div class="logo">
						<a href="/" class="d-flex flex-row"><span>my</span>podcast<div><img src="images/play_2.png"
									alt=""></div></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Shows 2 -->

<div class="shows_2">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="shows_2_title">By Program</div>
			</div>
		</div>
		<div class="row shows_2_row">

			<!-- Show -->
			{{# each Programs}}

				<div class="col-xl-3 col-md-6">
					<div class="show">
						<div class="show_image">
							<a href="/program?program_id={{this.program_id}}">
								<img src="{{this.cover}}" alt="https://unsplash.com/@h4rd3n">
								<div class="show_play_icon"><img src="images/play.svg"
										alt="https://www.flaticon.com/authors/cole-bemis"></div>
								<div class="show_title_2">{{this.title}}</div>
							</a>
							<div class="show_tags">
								<div class="tags">
									<ul class="d-flex flex-row align-items-start justify-content-start">
										<li><a href="/user/profile/{{this.user_id}}">{{this.user_name}}</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

			{{/ each}}
		</div>
		<div class="row">
			<div class="col text-center">
				<div class="button_fill shows_2_button"><a href="#">browse shows</a></div>
			</div>
		</div>
	</div>
</div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="styles/bootstrap-4.1.2/popper.js"></script>
<script src="styles/bootstrap-4.1.2/bootstrap.min.js"></script>
<script src="plugins/greensock/TweenMax.min.js"></script>
<script src="plugins/greensock/TimelineMax.min.js"></script>
<script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="plugins/greensock/animation.gsap.min.js"></script>
<script src="plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/colorbox/jquery.colorbox-min.js"></script>
<script src="plugins/progressbar/progressbar.min.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="js/custom.js"></script>